@model ProductsCatalog 

@{
    ViewData["Title"] = "Добавление продуктов";
}

@{
   <p>Количество продуктов - @Model.GetProducts.Count</p>
}

@foreach (var type in Model.GetProducts)
{
    <div> @type.Id  @type.Name  @type.Description @type.Type </div>
}